<% content_for :top_navbar do %>
  <p class="navbar-text">Creating New Recipe</p>
<% end %>

<%= render 'form', submit_name: 'Create' %>

<% if params[:preview_button] %>
    <%= render 'yields_list' %>
<% end %>