<p>
  <strong>Name:</strong>
  <%= @res_group.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @res_group.user.email %>
</p>

<%= link_to 'Edit', edit_res_group_path(@res_group) %> |
<%= link_to 'Back', res_groups_path %>
