@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 55px;
}

.sidebar {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.main {
  padding-top: 10px;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    width: 195px;
  }
}

.td-narrow {
  width: 1px;
  white-space: nowrap;
}

.is-breakable {
  word-break: break-all;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.pagination {
  margin: 0;
}

.read {
  background-color: #eeeeee;
}